* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: #ffe6ee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #ffb6c1;
  width: 580px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.container img {
  width: 240px;
  display: block;
  margin: 0 auto 15px;
  border-radius: 15px;
}

.container2 {
  background: #ffb6c1;
  width: 580px;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.container2 img {
  width: 240px;
  display: block;
  margin: 0 auto 15px;
  border-radius: 15px;
}

.container3 {
  background: #ffb6c1;
  width: 580px;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.container3 img {
  width: 240px;
  display: block;
  margin: 0 auto 15px;
  border-radius: 15px;
}

h1 {
  margin: 10px 0;
}

p {
  font-size: 14px;
  color: #444;
}

.buttons {
  margin-top: 20px;
  position: relative;
}

button {
  padding: 18px 36px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  margin: 30px;
}

#yesBtn {
  margin-left: -23%;
  background: red;
  color: white;
}

#noBtn {
  background: royalblue;
  color: white;
  position: absolute;
}

.img-box {
  display: inline-block;
  padding: 18px;
  border-radius: 18px;
  /* highlight effect */
  background: rgba(238, 184, 184, 0.25);
  /* soft border highlight */
  box-shadow: 0 0 8px rgba(157, 137, 137, 0.4);
  padding-bottom: -10px;
}

.img-box2 {
  display: inline-block;
  padding: 18px 18px 0px;
  border-radius: 18px;
  /* highlight effect */
  background: rgba(238, 184, 184, 0.25);
  /* soft border highlight */
  box-shadow: 0 0 8px rgba(157, 137, 137, 0.4);
}

#title {
  margin-top: 10%;
  font-size: 30px;
  font-weight: 700;
  color: #900734;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 3px rgba(217, 169, 169, 0.6);
}

#subtitle {
  font-size: 15px;
  color: #5a2a2a;
  line-height: 1.5;
  font-weight: 500;
}

#subtitle3 {
  font-size: 20px;
  color: #5a2a2a;
  line-height: 1.5;
  font-weight: 800;
}

#subtitle4 {
  margin-left: 5%;
  margin-bottom: 0%;
  font-size: 15px;
  color: #5a2a2a;
  line-height: 1.5;
  font-weight: 700;
  text-shadow: 1px 1px 3px rgba(217, 169, 169, 0.6);
  transition: 0.5s;
}

#subtitle4:hover {
  background: rgb(164, 10, 10);
  color: white;
}

#subtitle2 {
  margin-left: 0%;
  margin-bottom: 0%;
  font-size: 15px;
  color: #5a2a2a;
  line-height: 1.5;
  font-weight: 700;
  text-shadow: 1px 1px 3px rgba(217, 169, 169, 0.6);
  transition: 0.5s;
}

#subtitle2:hover {
  background: rgb(164, 10, 10);
  color: white;
}

#title2 {
  font-size: 18px;
  font-weight: 700;
  color: #900734;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 3px rgba(217, 169, 169, 0.6);
}

.gifts {
  margin: 20px 0;
}

.gift {
  display: block;
  margin: 20px auto;
  width: 160px;
  padding: 10px;
  border-radius: 15px;
  text-decoration: none;
  font-weight: 700;
  color: #900734;
  background: #ffe6ee;
  transition: 0.5s;
}

.gift:hover {
  background: rgb(164, 10, 10);
  color: white;
}

.home-btn {
  position: fixed;
  bottom: 140px;
  left: 50%;
  transform: translateX(-50%);
  background: red;
  color: white;
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  transition: transform 0.5s ease, background 0.5s ease;
}

.home-btn:hover {
  background: darkred;
  transform: translateX(-50%) scale(1.05);
}

#title2 {
  margin-top: -5%;
  margin-bottom: 10%;
  font-size: 30px;
  font-weight: 700;
  align-items: center;
  color: #900734;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 3px rgba(217, 169, 169, 0.6);
}


#title3 {
  margin-top: 8%;
  margin-bottom: -20%;
  background: red;
  color: white;
  padding: 14px 30px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s;
}

#title3:hover  {
  background: darkred;
  transform: scale(1.05);
}

#title4 {
  margin-top: -5%;
  margin-bottom: 15%;
}

#title5 {
  margin-top: 10%;
  margin-bottom: -40%;
  background: red;
  color: white;
  padding: 14px 40px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s;
}

#title5:hover  {
  background: darkred;
  transform: scale(1.05);
}

#title6 {
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 30px;
  font-weight: 700;
  align-items: center;
  color: #900734;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 3px rgba(217, 169, 169, 0.6);
}

#title7 {
  margin-top: 12%;
  margin-bottom: 0%;
  background: red;
  color: white;
  padding: 16px 30px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s;
}

#title7:hover  {
  background: darkred;
  transform: scale(1.05);
}

#title8 {
  background: red;
  color: white;
  padding: 14px 40px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s;
}

#title8:hover  {
  background: darkred;
  transform: scale(1.05);
}

/* count PAGE */

.count-body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* Background Video */
.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.65);
}

/* Overlay Content */
.count-overlay {
  position: relative;
  z-index: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4); /* dark overlay */
  color: white;
  text-align: center;
}


.count-title {
  font-size: 42px;
  text-shadow: 0 0 20px rgba(255,0,120,0.8);
  margin-bottom: 40px;
}

.count-timer {
  display: inline-block;
  padding: 40px 70px;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.55);
  box-shadow: 0 0 35px rgba(255,0,120,0.6);
  margin-bottom: 40px;
}

#days {
  font-size: 34px;
  margin-bottom: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: 0 0 12px rgba(255, 120, 170, 0.8);
}

#time {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 3px;
  transition: opacity 0.3s ease;
  text-shadow: 0 0 15px rgba(255, 100, 160, 0.9);
}

.count-video video {
  width: 420px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(255,0,120,0.8);
  margin-bottom: 40px;
}

.count-home-btn {
  background: crimson;
  color: white;
  padding: 14px 40px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s;
}

.count-home-btn:hover {
  background: darkred;
  transform: scale(1.05);
}
